@charset "UTF-8";

$bg-color: white;

html {
  body {
    background: rgba( $bg-color, 1 );
  }
}

.simple-slider {
    position: relative;
    margin: auto;
    background: #000;
    .slider-container {
        position: relative;
        left: 0%;
        top: 0%;
        .slider-content {
            position: absolute;
        }
    }
    .pager-nav {
        position: absolute;
        width: 100%;
        bottom: 0;
        background: rgba(0, 0, 0, 0.75);
        padding: 8px;
        text-align: center;
        .nav-btn {
            display: inline-block;
            margin: 0 5px;
            background: #fff;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            &.active {
                background: #333;
                cursor: default;
            }
        }
    }
}

pre {
    width: 50%;
    margin: 1rem auto;
    display: block;
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}