@charset "UTF-8";

$bg-color: white;

html {
  body {
    background: rgba( $bg-color, 1 );
  }
}

.simple-slider {
    position: relative;
    margin: auto;
    background: #000;
    .slider-container {
        position: relative;
        left: 0%;
        top: 0%;
        .slider-content {
            position: absolute;
        }
    }
    .slider-pager {
        position: absolute;
        top: 45%;
        width: 100%;
        .pager-btn-prev, .pager-btn-next {
            position: absolute;
            z-index: 100;
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 1.3rem;
            text-decoration: none;
            color: #ffffff;
            text-align: center;
            display: inline-block;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.75);
        }
        .pager-btn-prev {
            left: 2.5%;
        }
        .pager-btn-next {
            right: 2.5%;
        }
    }
    .pager-nav {
        position: absolute;
        width: 100%;
        bottom: 0;
        background: rgba(0, 0, 0, 0.75);
        padding: 8px;
        text-align: center;
        .nav-btn {
            display: inline-block;
            margin: 0 5px;
            background: #fff;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            &.active {
                background: #333;
                cursor: default;
            }
        }
    }
}